services:
  home:
    build: .
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - NUXT_GITHUB_TOKEN=${NUXT_GITHUB_TOKEN}
      - NUXT_PUBLIC_ICP_NUMBER=${NUXT_PUBLIC_ICP_NUMBER}
      - NUXT_PUBLIC_ICP_LINK=${NUXT_PUBLIC_ICP_LINK}
      - NUXT_PUBLIC_POLICE_NUMBER=${NUXT_PUBLIC_POLICE_NUMBER}
      - NUXT_PUBLIC_POLICE_LINK=${NUXT_PUBLIC_POLICE_LINK}
